body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* .hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
} */

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    /* ul {
        display: none;
        background-color: #2b2c38;
        margin: 0ppx;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    } */
}


footer {
    text-align: center;
    background-color: rgb(37, 61, 105);
    border: 1px solid black;
    color: white;
}