.links{
    height: 100vh;
    background-color: cyan;
}

.box{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
    background-color: darkgoldenrod;
    color: white;
    transform: translate(-50%, -50%);
    justify-content: space-evenly;
    text-align: center;
}